{% extends "base.html.twig" %}
{% block body %}
<h1>{{ chart.title }}</h1>

    <div class="container" style="margin-top: 15px">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{{ url("app_import_openfilecontroller") }}">Import data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url("edit_chart",{"id":chart.id}) }}">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url("delete_chart",{"id":chart.id}) }}">Delete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url("show_all") }}">Tilbake</a>
            </li>

        </ul>

    </div>

{% endblock %}