{% extends "base.html.twig" %}
{% block body %}
<h1>{{ chart.title }}</h1>

    <div class="container col-12 pl-0" style="margin-top: 15px">
        <ul class="nav nav-pills">
            <li class="nav-item" style="margin-right: 10px">
                {{form(openForm)}}
            </li>
            <li class="nav-item" style="margin-right: 10px">
                <a class="nav-link active" href="{{ url("edit_chart",{"id":chart.id}) }}">Settings</a>
            </li>
            <li class="nav-item" style="margin-right: 10px">
               {{form(deleteForm)}}
            </li>
            <li class="nav-item" style="margin-right: 10px">
                <a class="nav-link active" href="{{ url("show_all") }}">Tilbake</a>
            </li>

        </ul>

    </div>

{% endblock %}